.form-group-custom {
  > select.form-control {
    appearance: none;
    background: transparent $rules-select-indicator no-repeat right $rules-input-padding-x center;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    z-index: 1;
    &::-ms-expand {
      opacity: 0; // Hides native caret in IE (Note: Pre IE10 will see NO arrow)
    }
    &:-moz-focusring {
      color: transparent;         // Kills odd artifacts around text in Firefox focus
      text-shadow: 0 0 0 #000;  // https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring
    }
  }
}

// Edge/IE - Suppress focus highlight in Edge/IE
.form-group-custom > select.form-control:focus::-ms-value {
  color: $rules-input-color;
  background-color: $rules-input-bg;
}

// OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple.
// Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7
x:-o-prefocus, .form-group-custom > select {
  background-image: none;
}

// Faux Select
.form-group-custom {
  select + button.select {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  button.select + .dropdown-menu {
    width: 100%;
    padding: 0;
    > .dropdown-item {
      padding-left: $rules-input-padding-x;
      padding-right: $rules-input-padding-x;
      z-index: 10;
    }
  }
  button.select:focus + .dropdown-menu, .dropdown-menu:active {
    display: block !important;
    // outline: -webkit-focus-ring-color auto 5px;
    // outline-offset: -2px;
  }
}