@mixin field-disabled() {
    &:disabled, fieldset[disabled] &, &[read-only] {
        color: $rules-input-disabled-color;
        background-color: $rules-input-disabled-bg;
        opacity: 1; // iOS fix for unreadable disabled content; see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#Browser_compatibility
    }
    &:disabled, fieldset[disabled] {
        cursor: $rules-cursor-disabled;
    }
}

@mixin field-placeholder($ph-color) {
  ::-webkit-input-placeholder { color: $ph-color; } // Chrome/Edge
  ::-moz-placeholder { color: $ph-color;  }         // Firefox
  :-ms-input-placeholder { color: $ph-color; }      // IE11
  :-ms-input-placeholder {  color: $ph-color; }     // EdgeHTML 17/18
  ::placeholder { color: $ph-color; }               // Standards
}

@mixin custom-floating-outline($background-color: $rules-input-bg) {
  background-color: $background-color;
  border-radius: $rules-input-border-radius;
  border: $rules-input-border;
  > .form-control, .form-text {
    border: none;
  }
}

@mixin custom-floating($background-color: $rules-input-bg) {
  @include custom-floating-outline($background-color);
  > label, > .field-label, .label-text {
    position: absolute;
    left: $rules-input-padding-x;
    top: -$rules-input-padding-y * 2;
    background-color: $background-color;
    margin-top: -3px;
    margin-left: -4px;
    padding: 0 4px;
    border-radius: 4px;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

@mixin custom-focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

@mixin custom-outline($background-color: $rules-input-bg) {
  @include custom-floating-outline($background-color);
  &:focus-within {
    @include custom-focus;
  }
  > label, > .field-label, .label-text {
    padding-right: 0;
  }
  > .form-control:focus, .form-text:focus {
    outline: none;
  }
}

@mixin custom-input-wrapper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  align-items: center;
  padding: 0;
  &:focus-within {
    @include custom-focus;
  }
  > .form-control {
    border: none;
    flex: 1 0 auto;
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

@mixin custom-form-group() {
  align-items: center;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  font-size: $font-size-base;
  line-height: $line-height-base;
  width: auto;
  max-width: 100%;
  > label, > .form-label, .label-text, > .form-control, .form-text {
    max-width: 100%;
    margin-bottom: 0;
    padding: $rules-input-padding-y $rules-input-padding-x;
  }
  > label, > .field-label, .label-text {
    font-weight: $font-weight-medium;
    white-space: nowrap;
  }
  > .form-control, .form-text {
    border-radius: $rules-input-border-radius;
    border: $rules-input-border;
    box-shadow: none;
  }
  .form-text {
    font-size: $font-size-base;
    font-style: normal;
    margin-top: 0;
    left: 0;
    display: flex;
    align-items: center;

  }
}