// DO NOT CHANGE THESE VALUES:  Instead, add your values to your own _custom.scss file, and import
// this file as the LAST line of those declarations.

@import "deviscoding/palette/resources/scss/functions";
@import "deviscoding/palette/resources/scss/variables";

// Feature Switches
$rules-feature-fixed-header:  true !default;
$rules-feature-hacks:         true !default;
$rules-feature-hidpi:         true !default;
$rules-feature-sticky-footer: true !default;
$rules-feature-touch:         true !default;

// Responsive Order Switches (both can be true)
$rules-mobile-first:          false !default;
$rules-desktop-first:         true !default;

// Misc
$rules-cursor-strong:         pointer;

// Spacing
$rules-spacer:                1rem !default;
$rules-padding-x:             $rules-spacer !default;
$rules-padding-y:             $rules-spacer/2 !default;

$rules-header-height:         64px !default;
$rules-touch-target:          3rem !default;  // 48dp

$rules-pattern-padding-x:     $rules-padding-x !default;
$rules-pattern-padding-y:     $rules-padding-y !default;
$rules-pattern-border-width:  1px !default;
$rules-pattern-border-radius: 4px !default;

// Colors
$rules-text-color:            #000 !default;
$rules-body-bg:               #fff !default;

$rules-link-color:            $blue-700 !default;
$rules-link-hover-color:      $blue-500 !default;

$rules-link-decoration:       underline !default;
$rules-link-hover-decoration: none !default;

$rules-pattern-bg:            #fff !default;
$rules-pattern-hover-bg:      get-gray(100) !default;
$rules-pattern-hover-color:   get-gray(800) !default;
$rules-pattern-border-color:  get-gray(300) !default;

// Typography
$rules-family-base:           system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$rules-family-monospace:      "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

$rules-font-size-touch:       16px !default;
$rules-font-size-root:        14px !default;
$rules-font-size-sm:          85% !default;

$rules-font-weight-base:      400 !default;
$rules-font-weight-medium:    500 !default;
$rules-font-weight-bold:      700 !default;

$rules-line-height-base:      1.25 !default;

// Tables Colors
$rules-table-border-color:      $rules-pattern-border-color !default;
$rules-table-color:             $rules-text-color !default;
$rules-table-bg:                $rules-pattern-bg !default;
$rules-table-hover-bg:          $rules-pattern-hover-bg !default;
$rules-table-hover-color:       $rules-pattern-hover-color !default;

$rules-table-head-color-weight: 600 !default;
$rules-table-head-color:        get-gray($rules-table-head-color-weight) !default;
$rules-table-head-weight:       $rules-font-weight-bold !default;
$rules-table-head-active-color: get-gray($rules-table-head-color-weight + 300) !default;
$rules-table-head-hover-color:  get-gray($rules-table-head-color-weight + 200) !default;

// Tables Spacing
$rules-table-align:             middle  !default;
$rules-table-padding:           .375rem !default; // 6dp
$rules-table-row-height:        3.25rem !default; // 52dp
$rules-table-border-width:      $rules-pattern-border-width !default;
$rules-table-border-radius:     $rules-pattern-border-radius !default;

$rules-table-head-height:       3.5rem  !default;  // 56dp
$rules-table-head-border-width: $rules-pattern-border-width*2 !default;

// Responsive
$rules-min-width:             320px !default;
$rules-ie-min-bp:             sm !default;
$rules-breakpoints-up:        (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default;
$rules-breakpoints-dpi:       (150) !default;
$rules-user-agent:            (
                                 "ie":      "Trident",
                                 "edge":    "Edge",
                                 "safari":  "Version",
                                 "windows": "Windows NT",
                                 "mac":     "Macintosh; Intel Mac OS X"
                              ) !default;